.button-group {
  display: flex;

  .button {
    margin: 5px;
  }
}

.button {
  text-decoration: none;
  border: 1px solid black;
  border-radius: 10px;
  display: inline-block;
  padding: 10px;
  appearance: none;
  font: inherit;
  background: none;

  &.redeem-button, &.search-button {
    font-size: 12px;
    background-color: #93c7f1;
    border: none;
    padding: 5px;
  }
}
