// Place all the styles related to the redemptions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#virtual-kisses {
  background-color: red;
  // position: relative;
  text-align: center;
  vertical-align: middle;
  float: left;
  width: 50%;
  height: 100%;
  // display: inline-block;
}

#llama-ranch-lookup {
  background-color: green;
  // position:relative;
  text-align: center;
  vertical-align: middle;
  float: right;
  width: 50%;
  // display: inline-block;
}
